# Group 10 Project Proposal
## Introduction

Abalones are a type of sea snails that are also known for being seafood delicacies. 

***Question:***
How old is a given abalone?

In this project, we'll be developing a model to try and determine the age of a given abalone by using easily measurable variables such as an abalone's physical dimensions, weight, and possibly sex. We discuss the importance of this in a later section of this proposal. The dataset that we are using is taken from the UC Irvine Machine Learning Repository, and contains comma-separated values with no headers. It includes the ***sex, length (mm), diameter (mm), height (mm), whole weight (grams), shucked weight (grams, weight of meat), viscera weight (grams, gut weight after bleeding), shell weight (grams, weight of shell after drying), and number of rings*** that a given abalone has. There are 4177 instances in this dataset. Since we are given rings, we'll be making a new column for "age", which is the number of rings plus 1.5, in years. However, the number of rings will be the target variable for our model.

## Preliminary Exploratory Data Analysis

Reading data from web:

In [3]:
import pandas as pd
url='https://drive.google.com/file/d/1nPiV8p49ZExhs_C8TnExmvSFRQOzKi90/view?usp=sharing'
file_id = url.split('/')[-2]
read_url='https://drive.google.com/uc?id=' + file_id

abalone_data=pd.read_csv(read_url, 
                         header=None, 
                         names=[
    'sex','length','diameter','height','weight_whole','weight_shucked','weight_viscera','weight_shell','rings']
)
abalone_data.head(10)

,sex,length,diameter,height,weight_whole,weight_shucked,weight_viscera,weight_shell,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7
5,I,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120,8
6,F,0.530,0.415,0.150,0.7775,0.2370,0.1415,0.330,20
7,F,0.545,0.425,0.125,0.7680,0.2940,0.1495,0.260,16
8,M,0.475,0.370,0.125,0.5095,0.2165,0.1125,0.165,9
9,F,0.550,0.440,0.150,0.8945,0.3145,0.1510,0.320,19

The data itself is already fairly tidy. Each column contains a single variable, each row is a single observation, and each cell is a single value.

In [6]:
# TODO: Do we need to really add anything? We could add an age column, but that could be confusing, as we are using rings as the target variable.

Splitting data:

In [3]:
# TODO: split data into training and testing data
# SIDE NOTE: should we actually be using all 4177 rows??

Summary table:

In [4]:
# TODO: create a summary table, with number of rows, maybe the units for each of the variabeles, which ones are predictors, maybe grouping them...?
# Definitely should take another look at the criteria for the proposal

Plots:

In [5]:
# TODO: create some plots (maybe with captions)
# I'm not sure if they need to compare the target variable to the predictors, or if it's just within the predictors...I think the former probably
# makes more sense, but it'd be wise to read over the proposal a couple more times...

## Methods

We will conduct our data analysis through regression to predict how old a particular abalone may be. Although the number of rings is numerical in value, it is not continuous. We would still like to use regression for this data though, since our ultimate goal is to find age, which is continuous. If the regression does provide us with a decimal answer for number of rings, then we would add 1.5 to it to find the approximate age. We may also try using classification later on to see what sort of difference in result that would give us. 

The variables that we will use as predictors are those that are related to the dimensions of the abalone and the weight of the abalone, which include all variables other than the target variable (number of rings) and sex. Sex is a categorical data value while the other data values are numerical and continuous. As well, compared to the other values it is not easily measured or determined without prior knowledge.

### Visualization
One way we could visualize would be to use a scatterplot for regression. We could have age on the y-axis, and the predictor on the x-axis. Of course, if we were to show basic trends between a variable and a predictor, we could also have a bar graph.

TODO: add more for Visualization

## Expected Outcomes and Significance

Older abalones are usually more expensive than younger abalones, as older abalones are more rich in flavor. However, the process to determine the age of a particular abalone can be quite boring and long (cut the shell, stain it, and count the rings under a microscope, etc.). 
Thus, our model attempts to predict the age and speed up the process. This would allow for better efficiency when the age of an abalone is needed, for example to price abalone. It can also allow cooks to determine how the abalone might taste before actually cooking it, based on how old it is. 

Future questions that may lead from this include ______